{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CualquierVideo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <header class="header">
      <div class="container header-container flex flex-col justify-center items-center">
        <h1 class="header-title text-white text-center mb-1">Descarga videos de Youtube, Twitter, Instagram, entre otros.</h1>
        <h2 class="header-subtitle text-white text-center mb-5">¡Completamente gratis!</h2>
        {% block content %}
        {% endblock %}
      </div>
      <div class="custom-shape-divider-bottom-1617124494">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
        </svg>
      </div>
    </header>
      {% block content2 %}
      {% endblock %}

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="{% static 'js/feather.min.js' %}"></script>



</body>

</html>