{% extends 'videos_mp3/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
        <form action="" method="post">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
               {% csrf_token %}
               {{ form|crispy }} 
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" value="Download" class="btn btn-block btn-lg btn-primary">Buscar</button>
              </div>
            </div>
        </form>
{% endblock %}
{% block content2 %}
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto mt-5">
                <h1 class="h3 text-center">Error no se ha encontrado el Video Seleccionado espere unos segundos y vuelva a realizar su busqueda.</h1>
            </div>
        </div>
{% endblock %}