{% extends 'videos_mp3/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mb-5">
            <h1 class="display-2 text-center" style="text-align: center!important;">Descargador de Videos Pornhub Beta</h1>
        </div>
    </div>
    <div class="row">
        <div class="content">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Download" class="btn btn-info btn-block">
            </form>
        </div>
    </div>

    {% if title %}
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto mt-5">
                <h1 class="h3 text-center">{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto mt-5">
                <img class="img-responsive" src="{{ thumb }}">
            </div>

            <div class="col-md-4 ml-auto mr-auto mt-5 pt-5" >
                <ul class="list-group list-group-flush"style="background-color: #a0463500">
                    <li class="list-group-item border-0 pl-2 pr-2 pb-0 text-center" style="background-color: black;"><p class="lead">Duración <i class="fa fa-clock-o"></i>: {{ duration }}</p></li>
                    <li class="list-group-item border-0 pl-2 pr-2 pb-0 text-center" style="background-color: #150571;"><p class="lead">Vistas <i class="fa fa-eye"></i>: {{ views }}</p></li>

                   
            </div>
        </div>
        <div class="row">
            <p class="h3 text-center mt-5 mb-5">Video PornHub</p>
            <div class="col-md-12">
                <table class="table mt-5">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Resolución</th>
                        <th scope="col">Extensión</th>
                        <th scope="col">Descarga</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stream in streams %}
                        {% ifequal stream.extension "mp4" %}
                        <tr>
                            <td>{{ stream.resolution }}</td>
                            <td>{{ stream.extension }}</td>
                            <td><a href="{{ stream.video_url }}" style="text-decoration: none;" download="{{ title }}.{{ extension }}" target="_blank" >Descarga <i class=" fa fa-download"></i></a></td>
                        </tr>
                        {% endifequal %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}