{% extends 'videos_mp3/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
{% include 'videos_mp3/home.html' %}
{% endblock %}


{% block content2 %}
{% if title %}
<main class="main flex justify-center items-center">
      <div class="container mt-32 mb-32 lg:flex lg:flex-row items-center justify-around">
        <div class="video-img px-5 lg:w-1/2 mb-6 flex justify-center">
          <img src="{{ thumb }}" class="rounded-md" alt="">
        </div>
        <div class="video-data lg:w-1/2 px-5">
          <div class="card p-5 bg-white rounded-md shadow-md">
            <h2 class="v-data-title text-center mb-6">{{ title }}</h2>
            <div class="v-data-content flex flex-col items-center">
              <div class="mb-4 flex flex-col items-center">
                <i data-feather="clock" class="mb-1"></i>
                <span>{{ duration }} min</span>
              </div>
              <div class="mb-4 flex flex-col items-center">
                <i data-feather="eye" class="mb-1"></i>
                <span>{{ views }}</span>
              </div>
              <div class="likes w-1/2 flex justify-around">
                <div class="flex flex-col items-center">
                  <i data-feather="thumbs-up" class="mb-1"></i>
                  <span>{{ likes }}</span>
                </div>
                <div class="flex flex-col items-center">
                  <i data-feather="thumbs-down" class="mb-1"></i>
                  <span>{{ dislikes }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </main>
     <div class="download-data flex justify-center items-center">
      <div class="custom-shape-divider-top-1617124618">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
        </svg>
      </div>
      <div class="container mt-40 mb-40 lg:flex lg:flex-row">
        <div class="video-download text-center lg:w-1/2 px-5 mb-6">
          <div class="card p-5 bg-white rounded-md shadow-md">
            
            <h2 class="d-option-title mb-6">Opciones de Video</h2>
            <table class="m-5 w-5/6 mx-auto text-gray-800">
              <tr class="text-left border-b-2">
                <th class="px-4 py-3">Resolución</th>
                <th class="px-4 py-3">Tamaño</th>
                <th class="px-4 py-3">Extensión</th>
                <th class="px-4 py-3">Descarga</th>
              </tr>
              {% for stream in streams %}
                {% ifequal stream.extension "mp4" %}
              <tr class="border-b text-left">
                <td class="px-4 py-3">{{ stream.resolution }}</td>
                <td class="px-4 py-3">{{ stream.file_size }}</td>
                <td class="px-4 py-3">{{ stream.extension }}</td>
                <td><a href="{{ stream.video_url }}" style="text-decoration: none;" download="{{ title }}.{{ extension }}" target="_blank" >Descarga <i class=" fa fa-download"></i></a></td>
              </tr>
              {% endifequal %}
            {% endfor %}
            </table>
          </div>
        </div>
        <div class="audio-download text-center lg:w-1/2 px-5">
          <div class="card p-5 bg-white rounded-md shadow-md">
            <h2 class="d-option-title mb-6">Opciones de Audio</h2>
            <table class="m-5 w-5/6 mx-auto">
              <tr class="text-left border-b-2">
                <th class="px-4 py-3">Tamaño</th>
                <th class="px-4 py-3">Extensión</th>
                <th class="px-4 py-3">Descarga</th>
              </tr>
              {% for stream in streams %}
                    {% ifequal stream.resolution "Audio" %}
              <tr class="border-b text-left">
                <td class="px-4 py-3">{{ stream.file_size }}</td>
                <td class="px-4 py-3">{{ stream.extension }}</td>
                <td><a href="{{ stream.video_url }}" style="text-decoration: none;"
                               download="{{ title }}.{{ extension }}" target="_blank">Descarga <i
                                class=" fa fa-download"></i></a></td>
              </tr>
              {% endifequal %}
            {% endfor %}
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}