<!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CualquierVideo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/tailwind.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header class="header">
      <div class="container header-container flex flex-col justify-center items-center">
        <h1 class="header-title text-white text-center mb-1">Descarga videos de Youtube, Twitter, Instagram, entre otros.</h1>
        <h2 class="header-subtitle text-white text-center mb-5">¡Completamente gratis!</h2>
        <form>
          <input type="text"class="url-txt py-2 px-4 rounded-md" placeholder="Ingresa el URL del video">
          <button class="btn bg-green-500 hover:bg-green-700 text-white py-2 px-7 ml-2 rounded-md">Aceptar</button>
        </form>
      </div>
      <div class="custom-shape-divider-bottom-1617124494">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
        </svg>
      </div>
    </header>
    <main class="main flex justify-center items-center">
      <div class="container mt-32 mb-32 lg:flex lg:flex-row items-center justify-around">
        <div class="video-img px-5 lg:w-1/2 mb-6 flex justify-center">
          <img src="https://dummyimage.com/600x400/777/fff.jpg" class="rounded-md" alt="">
        </div>
        <div class="video-data lg:w-1/2 px-5">
          <div class="card p-5 bg-white rounded-md shadow-md">
            <h2 class="v-data-title text-center mb-6">Título del video</h2>
            <div class="v-data-content flex flex-col items-center">
              <div class="mb-4 flex flex-col items-center">
                <i data-feather="clock" class="mb-1"></i>
                <span>10.5 min</span>
              </div>
              <div class="mb-4 flex flex-col items-center">
                <i data-feather="eye" class="mb-1"></i>
                <span>5.324</span>
              </div>
              <div class="likes w-1/2 flex justify-around">
                <div class="flex flex-col items-center">
                  <i data-feather="thumbs-up" class="mb-1"></i>
                  <span>12.680</span>
                </div>
                <div class="flex flex-col items-center">
                  <i data-feather="thumbs-down" class="mb-1"></i>
                  <span>500</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </main>
    <div class="download-data flex justify-center items-center">
      <div class="custom-shape-divider-top-1617124618">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
        </svg>
      </div>
      <div class="container mt-40 mb-40 lg:flex lg:flex-row">
        <div class="video-download text-center lg:w-1/2 px-5 mb-6">
          <div class="card p-5 bg-white rounded-md shadow-md">
            <h2 class="d-option-title mb-6">Opciones de Video</h2>
            <table class="m-5 w-5/6 mx-auto text-gray-800">
              <tr class="text-left border-b-2">
                <th class="px-4 py-3">Resolución</th>
                <th class="px-4 py-3">Tamaño</th>
                <th class="px-4 py-3">Extensión</th>
                <th class="px-4 py-3">Descarga</th>
              </tr>
              <tr class="border-b text-left">
                <td class="px-4 py-3">720p</td>
                <td class="px-4 py-3">30 mb</td>
                <td class="px-4 py-3">mp4</td>
                <td class="px-4 py-3"><i data-feather="download"></i></td>
              </tr>
              <tr class="border-b text-left">
                <td class="px-4 py-3">720p</td>
                <td class="px-4 py-3">30 mb</td>
                <td class="px-4 py-3">mp4</td>
                <td class="px-4 py-3"><i data-feather="download"></i></td>
              </tr>
              <tr class="border-b text-left">
                <td class="px-4 py-3">720p</td>
                <td class="px-4 py-3">30 mb</td>
                <td class="px-4 py-3">mp4</td>
                <td class="px-4 py-3"><i data-feather="download"></i></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="audio-download text-center lg:w-1/2 px-5">
          <div class="card p-5 bg-white rounded-md shadow-md">
            <h2 class="d-option-title mb-6">Opciones de Audio</h2>
            <table class="m-5 w-5/6 mx-auto">
              <tr class="text-left border-b-2">
                <th class="px-4 py-3">Tamaño</th>
                <th class="px-4 py-3">Extensión</th>
                <th class="px-4 py-3">Descarga</th>
              </tr>
              <tr class="border-b text-left">
                <td class="px-4 py-3">10.3 mb</td>
                <td class="px-4 py-3">mp3</td>
                <td class="px-4 py-3"><i data-feather="download"></i></td>
              </tr>
              <tr class="border-b text-left">
                <td class="px-4 py-3">10.3 mb</td>
                <td class="px-4 py-3">mp3</td>
                <td class="px-4 py-3"><i data-feather="download"></i></td>
              </tr>
              <tr class="border-b text-left">
                <td class="px-4 py-3">10.3 mb</td>
                <td class="px-4 py-3">mp3</td>
                <td class="px-4 py-3"><i data-feather="download"></i></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="custom-shape-divider-bottom-1617124494">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
        </svg>
      </div>
    </div>
    <script src="js/feather.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>